<h1>Payment Checking</h1>

<form>
  <div class="row">
    <section class="col-md-12">
      <h3>Check Form</h3>
      <div class="form-group">
        <label for="customerName">Customer Name</label>
        <input type="text" class="form-control" id="customerName">
      </div>
      <div class="form-group">
        <label for="referenceCode">Reference Code</label>
        <input type="tel" class="form-control" id="referenceCode">
      </div>
    </section>
  </div> <!-- /.row -->

  <div class="row">
    <button class="pull-right btn btn-primary" type="submit">Submit</button>
  </div> <!-- /.row -->

</form>